figure[about] {
    border: 1px solid #888a85;
    background: #eeeeec;
    overflow-x: hidden;
    padding: 11px;
    text-align: center;
}

figure[about],
figure[about] > figcaption {
    display: block;
}

figure[about] > figcaption {
    margin: 0.25em auto 0 auto;
}

figure[about] > img,
figure[about] > audio,
figure[about] > video {
    border: 1px solid #888A85;
}
